body{
    margin: 0;
}

h1{
    font-family: 'Cal Sans';
    letter-spacing: 0.07em;
    color: #301E1A;
}

h3{
    font-family: 'Cal Sans';
    letter-spacing: 0.09em;
    font-size: 0.75em;
    color: rgb(255, 191, 0);
}

a, button, #submit{
    cursor: pointer;
}

p{
    color: black;
}

.pop-up{
    background-color: rgba(0, 0, 0, 0.421);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up a{
    position: absolute;
    top: 25%;
    right: 26%;
    color: black;
    font-size: 2vw;
    text-decoration: none;
}

.pop-up img{
    height: 4vw;
}

.pop-promo{
    width: 25vw;
    background-color: rgb(255, 237, 215);
    height: 25vw;
}

.pop-promo img{
    height: 100%;
    width: auto;
}

.pop-content{
    background-color: rgb(255, 237, 215);
    width: 25vw;
    height: 25vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-content form #email{
    width: 14vw;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(67, 67, 67);
    height: 2vw;
    text-align: center;
}

.pop-content form #submit{
    width: 14vw;
    height: 2vw;
    background-color: pink;
    color: white;
    border: 0;
}

.pop-content button{
    background-color: transparent;
    border: 0;
    width: 8vw;
    height: 2vw;
    color:rgb(83, 83, 83);
    text-decoration: underline;
    margin-top: 0.5vw;
}

.pop-content h2{
    font-size: 2.5vw;
    font-family: 'Cal Sans';
    letter-spacing: 0.09em;
    margin: 0;

}

.pop-content h3{
    color: black;
    font-size: 0.75vw;
}

.promo{
    height: 2.5vw;
    background-color: pink;
    text-align: center;
}

.promo p{
    margin: 0;
    padding-top: 0.7vw;
    color: white;
}

.nav{
    background-color:white;
    border-bottom:  rgba(0, 0, 0, 0.5) 1px;
    width: 100%;
    height: 3.75vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 11;
}

.nav-logo{
    margin: auto 0 auto 10vw;
    color: black;
    height: inherit;
}

.nav-logo img{
    height: 100%;
}

.nav-buttons{
    margin: auto 10vw auto 0;
}

.nav ol{
    list-style: none;
    margin: 0;
}

.nav ol li{
    display: inline;
    margin-right: 1vw;
}

.nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    display: inline-block;
    padding: 0 .5em 0.15em;
    text-decoration: none;
    transition: background-size 0.5s;
    font-family: 'Cal Sans';
}

.nav a:hover{
    color: brown; 
    --underline-width: 100%;
    transition: 300ms;
}



/*--------HERO----------*/
#hero{
    background-color: aqua;
    height: 30vw;
    width: 100%;
}

.slideshow-container{
    height: inherit;
    overflow: hidden;
    position: relative;
}

.slideshow-container img{
    height: inherit;
    width: 100vw;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 3vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.hero-butt-1 button{
    background-color: pink;
    color: white;
    border: 0;
    width: 7vw;
    height: 2vw;
    position: absolute;
    top: 72%;
    left: 12%;
}

.hero-butt-1 button:hover{
    color: pink;
    background-color: transparent;
    border: solid 2px pink;
    transition: 300ms;
}

.hero-butt-2 button{
    background-color: white;
    color: black;
    border: 0;
    width: 7vw;
    height: 2vw;
    position: absolute;
    top: 65%;
    right: 10%;
}

.hero-butt-2 button:hover{
    color: white;
    background-color: transparent;
    border: solid 2px white;
    transition: 300ms;
}

.hero-butt-3 button{
    background-color: white;
    color: black;
    border: 0;
    width: 7vw;
    height: 2vw;
    position: absolute;
    top: 62%;
    left: 10.75%;
}

.hero-butt-3 button:hover{
    color:#252715;
    background-color: transparent;
    border: solid 2px #252715;
    transition: 300ms;
}

/*-------------MAIN-------------*/
#main, #tertiary{
    margin: 5vw 10vw 5vw 10vw;
}

.spring-header{
    display: flex;
    justify-content: space-between;
}

.spring-header button{
    color: white;
    background-color: black;
    width: 7vw;
    height: 3vw;
    border: 0;
    margin: auto 0 auto 0;
}

.spring-header button:hover{
    background-color: transparent;
    color: black;
    border: solid 2px black;
    transition: 300ms;
}

.collection-gallery{
    display: flex;
    justify-content: space-between;
}

.collection-item{
    width: 19vw;
    height: 17vw;
    position: relative;
    display: flex;
}

.collection-item img{
    width: inherit;
    overflow: hidden;
    align-items: center;
}

.collection-gallery h3{
    font-family: 'Inder';
    color: black;
    letter-spacing: 0.15vw;
    font-size: 0.9vw;
    margin: 0;
    margin-top: 0.7vw;
    padding: 0;
}

.overlay{
    bottom: 100%;
    position: absolute;
    width: 100%;
    height: 0%;
    text-align: center;
    transition: 400ms;
    overflow: hidden;
    display: flex;
}

.overlay button{
    background-color: white;
    border: solid 2px black;
    width: 16vw;
    height: 2.5vw;
    position: absolute;
    bottom: 6%;
    right: 8%;
    box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.15);
}

.overlay img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.overlay button:hover{
    background-color: black;
    border: 0;
    color: white;
    transition: 300ms;
}

.collection-item:hover .overlay {
  bottom: 0;
  height: 100%;
  transition: 400ms;
}

.qualities{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;
}

.qualities div{
    width: 15vw;
    margin-top: 2vw;
}

.qualities img{
    height: 1.5vw;
    width: auto;
}

.qualities h2{
    font-family: 'Inder';
    letter-spacing: 0.15vw;
}

.flavour-collections{
    display: flex;
    justify-content: space-between;
    margin-top:1.5vw;
}

.flavour-collections .col{
    width: 25vw;
    height: 25vw;
}

.flavour-collections .col div{
    height: 18vw;
    width: inherit;
    overflow: hidden;
}

.flavour-collections .col div img{
    width: 100%;
    height: auto;
    transition: 300ms;
}

.flavour-collections img:hover{
    transform: scale(1.05);
    transition: 300ms;
}

.flavour-collections .col .btn-arrow{
    display: flex;
    align-items: center;
    height: 4vw;
    gap: 0.25vw;
}

.flavour-collections button{
    padding: 0;
    background-color: transparent;
    border: 0;
    letter-spacing: 0.15vw;
    font-size: 1.25vw;
    font-family: 'Inder';
}

/*-------SECONDARY---------*/
.secondary-about{
    height: 45vw;
    background-color: blue;
    margin: 5vw 0 5vw 0;
    overflow: hidden;
    position: relative;
}

.secondary-about img{
    width: 100%;
    position: absolute;
    bottom: -5%;
}

.about-text{
    position: absolute;
    left: 11%;
    top: 22%;
    width: 30vw;
}

.about-text h1{
    color: white;
}

.about-text p{
    color: white;
}

.about-text button{
    background-color: white;
    color: black;
    border: 0;
    width: 7vw;
    height: 2vw;
    margin-top: 1vw;
}

.about-text button:hover{
    color: white;
    background-color: transparent;
    border: solid 2px white;
    transition: 300ms;
}

#quad{
    margin-right: 0;
}

.sale{
    display: flex;
    height: 35vw;
    justify-content: space-between;
    margin-left: 10vw;
    align-items: center;
    margin-bottom: 7vw;
    gap: 10vw;
}

.sale .sale-img{
    display: flex;
    gap: 2vw;
    height: inherit;
}

.sale p{
    margin-top: 1.5vw;
    color: rgb(28, 28, 28);
}

.sale button{
    background-color: black;
    color: white;
    border: 0;
    height: 2vw;
    width: 8vw;
    transition: 300ms;
    margin-top: 1.5vw;
}

.sale button:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transition: 300ms;
}

/*-------- ABOUT---------*/
#about-hero{
    background-color:  #301E1A;
    height: 30vw;
    text-align: center;
}

#about-hero div{
    padding: 8vw;
}

#about-hero h1{
    font-size: 2.25vw;
}

#about-hero h1, #about-hero h3,#about-hero p{
    color: white;
}

#about-main{
    margin-left: 10vw;
    margin-bottom: 5vw;
    width: 100%;
}

.member{
    height: 30vw;
    display: flex;
    justify-content: space-between;
    margin-top: 6vw;
    position: relative;
}

.member h3{
    color: gray;
    font-family: 'Inder';
}

.member h1{
    margin: 0;
}

.member h2{
    font-family: 'Cal Sans';
    margin-top: 1vw;
    letter-spacing: 0.2vw;
}

.member a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}


.member a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    padding: 0 .5em 0.15em;
    text-decoration: none;
    transition: background-size 0.5s;
    font-family: 'Cal Sans';
}

.member a:hover{
    color: brown; 
    --underline-width: 100%;
    transition: 300ms;
}


.member a img{
    height: 1.5vw;
}

.member img{
    height: 100%;
}

.member li{
    font-family: 'Inder';
    margin-top: 0.5vw;
}

.member .qr{
    height: 8vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*---------FOOTER---------*/
.footer{
    background-color: #402722;
    height: 16vw;
    padding: 5vw 10vw 5vw 10vw;
}

.footer h3{
    color: rgb(255, 225, 0);
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: inherit;
}

.footer-flex li{
    display: block;
    margin-bottom: 1.25vw;
}

.footer-flex a{
    color: white;
    text-decoration: none;
    background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    display: inline-block;
    padding: 0 .5em 0.15em 0;
    text-decoration: none;
    transition: background-size 0.5s;
    font-family: 'Cal sans';
    margin: 0;
}

.footer-flex a:hover{
    
    color: white; 
    --underline-width: 100%;
    transition: 300ms;
}

.footer-logo img{
    height: 100%;
}

.footer-news p{
    color: white;
    margin: 0;
}


.footer-news #email{
    width: 16vw;
    height: 2vw;
    background-color:#754e47;
    border: 0;
    color: rgba(255, 255, 255, 0.493);
    padding-left: 1vw;
}

.footer-news #submit{
    background-color: #301E1A;
    color: white;
    border: 0;
    width: 4vw;
    height: 1.5vw;
}

.copyright{
    background-color: #301E1A;
    height: 5vw;
}

.copyright p{
    color: rgb(203, 203, 203);
    margin: auto;
    padding-top: 2vw;
    padding-left: 10vw;
    font-size: 0.85vw;
}